<div class="area"></div><nav class="main-menu">
            <ul>
                <li>
                    <a href="{{request.user.profile_link}}">
                        <i class="fa fa-home fa-2x"></i>
                        <span class="nav-text">
                            Profile
                        </span>
                    </a>

                </li>
                <li class="has-subnav">
                    <a href="{% url 'chats' %}">
                        <i class="fa fa-laptop fa-2x"></i>
                        <span class="nav-text">
                            Chats
                        </span>
                    </a>

                </li>
                <li class="has-subnav">
                    <a href="#">
                       <i class="fa fa-list fa-2x"></i>
                        <span class="nav-text">
                            Groups
                        </span>
                    </a>

                </li>
                <li class="has-subnav">
                    <a href="{% url 'news' %}">
                       <i class="fa fa-folder-open fa-2x"></i>
                        <span class="nav-text">
                            News
                        </span>
                    </a>

                </li>
                <li>
                    <a href="{% url 'user_friends' id=request.user.id %}">
                        <i class="fa fa-bar-chart-o fa-2x"></i>
                        <span class="nav-text">
                            Friends
                        </span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'all_users' %}">
                        <i class="fa fa-font fa-2x"></i>
                        <span class="nav-text">
                           People
                        </span>
                    </a>
                </li>
                <li>
                   <a href="{% url 'friendship_requests' %}">
                       <i class="fa fa-table fa-2x"></i>
                        <span class="nav-text">
                            Friendship requests
                        </span>
                    </a>
                </li>
                <li>
                   <a href="#">
                        <i class="fa fa-map-marker fa-2x"></i>
                        <span class="nav-text">
                            Maps
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#">
                       <i class="fa fa-info fa-2x"></i>
                        <span class="nav-text">
                            Documentation
                        </span>
                    </a>
                </li>
            </ul>




            <ul class="logout">
                <li>
                   <a href="{% url 'logout' %}">
                         <i class="fa fa-power-off fa-2x"></i>
                        <span class="nav-text">
                            Logout
                        </span>
                    </a>
                </li>
            </ul>


        </nav>
