<script src="http://code.jquery.com/jquery-latest.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<!-- begin #profile-friends tab -->
                  <div class="tab-pane fade in active show" id="profile-friends">
                     <h4 class="m-t-0 m-b-20">Friend List:</h4>
                     <!-- begin row -->
                     <div class="row row-space-2">
                        <!-- begin col-6 -->
                        {% for friend in friends %}

                        <div class="col-md-6 m-b-2">
                           <div class="p-10 bg-white">
                              <div class="media media-xs overflow-visible">
                                 <a class="media-left" href="javascript:;">
                                 <img src="{{friend.photo.url}}" alt="" class="media-object img-circle">
                                 </a>
                                 <div class="media-body valign-middle">
                                    <b class="text-inverse"><a href="{{friend.profile_link}}">{{friend.username}}</a></b>
                                 </div>
                                 <div class="media-body valign-middle text-right overflow-visible">

                                       <a href="javascript:FriendRemove({{ friend.id }})" class="btn btn-default" id="Remove_{{ friend.id }}">Delete</a>

                                 </div>
                              </div>
                           </div>
                        </div>
                        {% endfor %}
                     </div>
                  </div>
                        <!-- end col-6 -->


<script>
    function FriendRemove(friend_id){

    const friendship_link = `/friendship/remove_friend/${friend_id}`

    let result = $.ajax({
        type: "GET",
        url: friendship_link,
        data: {
            'csrfmiddlewaretoken': '{{ csrf_token }}'
        },
        dataType: "json",
        success: function (data) {
            return data
        }
    });
    let part =  document.getElementById(`Remove_${friend_id}`)
    part.style.visibility = 'hidden';

    }

</script>


