{% extends 'chat/base.html' %}
{% load static %}
{% block css_js %}

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'chat.css' %}">



    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
    </script>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>



{% endblock %}


{% block title %}

    Hello
{% endblock %}

{% block content %}



    <div class="container">


        <div class="mb-3">
            <h1>Chat "{{ room_name }}"</h1>

            <button id="hider" class="toggle-menu-btn show_search">Add Friend</button>
            <div id="add-in-chat">
                {% for person in new_persons %}

                    <a href="javascript:AddUserInChat({{ room_id }}, {{ person.id }}, '{{person.username}}' );"
                       id=Add_{{ person.id }} >Add {{ person }} </a>
                {% endfor %}
            </div>

            <textarea class="form-control" id="chat-messages" rows="20" disabled>



  </textarea>


            <script>
                function scroll_down_textarea() {
                    $('#chat-messages').scrollTop($('#chat-messages')[0].scrollHeight);
                }


                function add_old_message_to_textbox() {
                    var messages = [
                        {% for message in old_messages %}
                            "{{ message }}",
                        {% endfor %}
                    ]

                    for (indx in messages) {


                        document.querySelector('#chat-messages').value += (messages[indx] + '\n')
                    }
                    scroll_down_textarea()

                }
            </script>

            <script>
                add_old_message_to_textbox()
            </script>


        </div>


        <input id="input" type="text" size="121" ></br>


        <input id="submit" type="submit" class="btn btn-primary" value="send">


    <script>
       $(document).ready(function(){
            $('#input').keypress(function(e){
              if(e.keyCode==13)
              $('#submit').click();
            });
});
    </script>
    </div>

    {{ room_id|json_script:"room-id" }}
    {{ request.user.username|json_script:"username" }}







    <script>


    </script>

    <script>
        $("#hider").click(function () {
            $("#add-in-chat").toggle();
        });
    </script>












    <div class="menu">
        <div class="title" onclick="f()">Kick users <span class="fa fa-bars"></span>
            <div class="arrow"></div>
        </div>
        <div class="dropdown">
            {% if request.user == admin %}
                {% for person in chat_members %}
                    <p id="Kick_{{ person.id }}"><a
                            href="javascript:KickUserFromChat({{ room_id }}, {{ person.id }}, '{{ person.username }}' );">Kick {{ person }}</a>
                    </p>
                {% endfor %}
            {% endif %}
            <span id="Kick_{{ request.user.id }}"><a
                    href="javascript:KickUserFromChat({{ room_id }}, {{ request.user.id }});"
                    onclick="redirect_to_chats_list()">Leave chat</a> </span>

        </div>
    </div>




    <script src="{% static 'js/websocket_chat.js' %}"></script>

    <script src="{% static 'js/kick_and_add_in_chat_functions.js' %}"></script>












{% endblock %}





