{% extends 'chat/base.html' %}

{% block css_js %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">



{% endblock %}


{% block title %}

Hello
{% endblock %}

{% block content %}

<div class="container">


<div class="mb-3">
   <h1>Chat "{{room_name}}"</h1>
  <textarea class="form-control" id="chat-messages" rows="20"  disabled>
      {% for message in old_messages %}
      {{message}}
      {% endfor %}
  </textarea>
</div>



<input id="input" type="text" size="146"></br>



<input id="submit" type="button" class="btn btn-primary" value="send">
</div>

{{ room_name|json_script:"room-name"}}
{{ request.user.username|json_script:"username" }}

<script>
     const roomName = JSON.parse(document.getElementById("room-name").textContent);
      const username = JSON.parse(document.getElementById("username").textContent);
    document.querySelector('#submit').onclick = function (e) {
        const messageInputDom = document.querySelector('#input');
        const message = messageInputDom.value;
        ChatSocket.send(JSON.stringify({
            'message': message,
            'username':username,
            'chat_title': roomName
        }));
        messageInputDom.value = '';


    };


    const ChatSocket = new WebSocket(
        'ws://' + window.location.host + '/ws/chat/' + roomName + '/'
    );

    ChatSocket.onmessage = function (e) {
        const data = JSON.parse(e.data)
        console.log(data)

        document.querySelector('#chat-messages').value += (data.username + ': ' +  data.message + '\n')

    }
</script>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
</script>
{% endblock %}





