{% load el_pagination_tags %}
{% paginate users %}

{% load static %}






{% for user in users %}
    <li class="cards__item">


        <div class="card__content">
            <div class="card__title"><a href="{{ user.profile_link }}">{{ user.username }}</a></div>
            <p class="card__text">{{ user.bio }} </p>
            {% if user not in friends %}
                <div id="{{ user.id }}">
                <a href="javascript:SendFriendshipRequest({{ user.id }})">
                    <button  type="button" class="btn btn--block card__btn">
                       Send Friend Request
                    </button>

                </a>
                </div>
                <a href="" id="insert_{{ user.id }}"></a>

            {% endif %}

        </div>

    </li>
{% endfor %}
<div>
    {% show_more %}
</div>
