<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'all_users.css' %}">
    <link rel="stylesheet" href="{% static 'sidebar.css' %}">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'js/all_users_functions.js' %}"></script>



</head>
<body>
{% include 'interface/sidebar.html' %}
{% include 'interface/notifications.html' %}




    {% include all_users_page %}







 <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="{%  static 'js/el-pagination.js' %}"></script>
    <script>
        $.endlessPaginate({
            paginateOnScroll: true,
            paginateOnScrollChunkSize: 20
        });
    </script>
</body>



