<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'profile.css' %}">
    <link rel="stylesheet" href="{% static 'sidebar.css' %}">

     {% block js %} {% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.1/dist/js/bootstrap.bundle.min.js" rel="stylesheet">
{% include 'interface/notifications.html' %}
{% include 'interface/sidebar.html' %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div id="content" class="content content-full-width">
                <!-- begin profile -->
                <div class="profile">
                    <div class="profile-header">
                        <!-- BEGIN profile-header-cover -->
                        <div class="profile-header-cover"></div>
                        <!-- END profile-header-cover -->
                        <!-- BEGIN profile-header-content -->
                        <div class="profile-header-content">
                            <!-- BEGIN profile-header-img -->
                            <div class="profile-header-img">
                                <img src="{{user.valid_photo_url}}" alt="">
                            </div>
                            <!-- END profile-header-img -->
                            <!-- BEGIN profile-header-info -->
                            <div class="profile-header-info">
                                <h4 class="m-t-10 m-b-5">{{user.username}} </h4>
                                <p class="m-b-10">{{who_is_it}}</p>
                                {% if request.user == user %}

                                <a href="{% url 'user_profile_edit' id=user.id %}" class="btn btn-sm btn-info mb-2">Edit Profile</a>
                                {% else %}
                                {% if who_is_it != 'FRIEND' %}
                                <a href="{% url 'friendship_add' id=user.id %} " class="btn btn-sm btn-info mb-2">Add to friends</a>
                                {% endif %}
                                {% endif %}
                            </div>
                            <!-- END profile-header-info -->
                        </div>
                        <!-- END profile-header-content -->
                        <!-- BEGIN profile-header-tab -->
                        <ul class="profile-header-tab nav nav-tabs">
                            <li class="nav-item"><a
                                    href="{% url 'user_profile' id=user.id %}"
                                     class="nav-link_">POSTS</a></li>
                            <li class="nav-item"><a href="{% url 'user_profile_edit' id=user.id %}"
                                                    class="nav-link_">ABOUT</a></li>
                            <li class="nav-item"><a href=""
                                                     class="nav-link_">PHOTOS</a></li>
                            <li class="nav-item"><a href=""
                                                    class="nav-link_">VIDEOS</a></li>
                            <li class="nav-item"><a href="{% url 'user_friends' id=user.id %}"
                                                     class="nav-link_">FRIENDS</a></li>
                        </ul>
                        <!-- END profile-header-tab -->
                    </div>
                </div>
                <!-- end profile -->
                <!-- begin profile-content -->
                <div class="profile-content">
                    <!-- begin tab-content -->
                    <div class="tab-content p-0">
                        {% block posts %}
                        {% endblock %}

                        {% block friends %}
                        {% endblock %}

                        {% block edit %}
                        {% endblock %}


                        <!-- begin #profile-post tab -->

                    </div>
                    <!-- end #profile-post tab -->
                </div>
                <!-- end tab-content -->
            </div>
            <!-- end profile-content -->
        </div>
    </div>
</div>



</body>
</html>